.wht:link, .wht:visited, .wht:hover, .wht:active {
  text-decoration: none;
  color: white;
}
.bg {
  background-color: purple;
}
.btn-dark {
  background-color: purple;
  border: none;
}
.rmgn {
  margin-right: 20px;
}