.backer {
  background: url("./assets/img/Collectibles.jpg");
  background-size: 100% auto;
  min-height: -webkit-fill-available;
}
.center {
  text-align: center;
  padding-top: 20px;
  margin: 0 auto 10px auto;
}
.cenText {
  text-align: center;
  padding-top: 20px;
}
.btnMarg {
  margin-left: 10px;
}