.backer {
  height: 100vh;
  background: url("../../assets/img/Collectibles.jpg");
  background-size: 100% auto;
  
}
.hbk {
  background: lightblue;
  background-size: auto auto;
  width: 45%;
  margin: 0px auto 0 auto;
  border-radius: 10px;
}
.hbk2 {
  padding: 5px;
  margin-top: 10px;
}
h1 {
  padding: 5px 0 5px 0;
}
table {
  background: white;
}
table.table-bordered{
  border:2px solid purple;
  margin-top:20px;
}
table.table-bordered > thead > tr > th{
  border:1px solid purple;
}
table.table-bordered > tbody > tr > td{
  border:1px solid purple;
}
td {
  max-width: 200px;
  word-wrap: break-word;
}
.lmgn {
  min-width: 150px;
  margin-top: 20px;
}

@media (max-width: 769px) {
  .hbk {
    width: 80%;
  }
}