.back {
  background: url("../../assets/img/Collectibles.jpg");
  background-size: 100% auto;
}
.homeContainer {
  width: 50%;
  background: white;
  border-radius: 50px;
  margin: 2% auto 2% auto;
}
.topMar{
  margin-top: 10px;
}
label {
  margin-bottom: 0;
}
.form-control {
  border: none;
  border-bottom: 1px solid lightslategray;
  border-radius: 0;
  transition: none;
}
.ctr {
  text-align: center;
  margin: 0 auto 0 auto;
}

@media (max-width: 600px) {
  .homeContainer {
    width: 80%;
    padding: 0 20px 0 20px;
  }
}